<h1>About</h1>
<p>
	This is a web-app to help users at the
	<%= link_to "SI Games Forums", "http://community.sigames.com" %>
	generate a simple code for their career threads.<br /><br />
	If there are any problems, please 
	<%= link_to "contact", contact_path %> 
	the page author.<br /><br />
	Please note that the app is still in alpha at this stage. DO NOT rely on it.
</p>
