<h1>Contact</h1>
<p>
	Please contact the author either on the SI Games Forum under "SnakeXe",
	or via email:
</p>
<p>	
	<%= link_to "alex.kelly@william-lee.com", "mailto:alex.kelly@william-lee.com"%>
</p>
